<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a href="/myapp/admin_view_doctor/">verify doctor</a></p>
<p><a href="/myapp/admin_view_approved_doctors/">view approved doctor</a></p>
<p><a href="/myapp/admin_view_rejected_doctor/">view rejected doctor</a></p>
<p><a href="/myapp/admin_view_feedback/">view feedback</a></p>
<p><a href="/myapp/admin_view_review/">view review</a></p>
<p><a href="/myapp/admin_change_password/">change password</a></p>
</body>
</html>