{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}

{% extends "user/userindex.html" %}
{% block body %}


      <form id="form1" name="form1" action="/myapp/user_change_password_post/" method="post">
    {% csrf_token %}
    <table width="200" border="1" class="table table-bordered">
        <tr>
            <td>Current Password</td>
            <td>
                <input type="password" name="current_password" id="current_password" class="form-control" required />
            </td>
        </tr>
        <tr>
            <td>New Password</td>
            <td>
                <input type="password" name="new_password" id="new_password" class="form-control" required minlength="8" />
            </td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control" required minlength="8" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="button" id="button" value="Change Password" class="btn btn-success" /></td>
        </tr>
    </table>
</form>

<script>
    document.getElementById("form1").addEventListener("submit", function(event) {
        let newPassword = document.getElementById("new_password").value;
        let confirmPassword = document.getElementById("confirm_password").value;

        if (newPassword.length < 8) {
            alert("New password must be at least 8 characters long.");
            event.preventDefault();
            return;
        }

        if (newPassword !== confirmPassword) {
            alert("New Password and Confirm Password do not match.");
            event.preventDefault();
        }
    });
</script>


{#<form id="form1" name="form1" action="/myapp/admin_change_password_post/" method="post">#}
{#    {% csrf_token %}#}
{#  <table width="200" border="1" class="table table-bordered">#}
{#    <tr>#}
{#      <td>Current Password</td>#}
{#      <td><label for="textfield"></label>#}
{#      <input type="text" name="textfield" id="textfield" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>New Password</td>#}
{#      <td><label for="textfield2"></label>#}
{#      <input type="text" name="textfield2" id="textfield2" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>Confirm Password</td>#}
{#      <td><label for="textfield3"></label>#}
{#      <input type="text" name="textfield3" id="textfield3" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>&nbsp;</td>#}
{#      <td><input type="submit" name="button" id="button" value="change" /></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}


{% endblock %}
{#</body>#}
{#</html>#}
