<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a href="/myapp/user_edit_profile">edit profile </a></p>
<p><a href="/myapp/user_view_doctor/">view doctor</a></p>
<p><a href="/myapp/user_view_profile/">view profile</a></p>
<p><a href="/myapp/user_send_review_about_doctor/">send review about doctor</a></p>
<p><a href="/myapp/user_send_feedback/">send feedback</a></p>
<p><a href="/myapp/user_view_appointment/">view appointment</a></p>
<p><a href="/myapp/user_view_result/">view result</a></p>
<p><a href="/myapp/user_view_schedule/">view schedule</a></p>
</body>
</html>