{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}

{% extends "user/userindex.html" %}
{% block body %}
<form action="" method="get">
<table width="200" border="1" class="table table-bordered">
  <tr>
    <td>Name</td>
    <td>{{ data.name }}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{ data.email }}</td>
  </tr>
  <tr>
    <td>Contact</td>
     <td>{{ data.contact }}</td>
  </tr>
  <tr>
    <td>Place</td>
     <td>{{ data.palce }}</td>
  </tr>
  <tr>
    <td>Pin</td>
     <td>{{ data.pin }}</td>
  </tr>
  <tr>
    <td>Post</td>
     <td>{{ data.post }}</td>
  </tr>
  <tr>
    <td>Photo</td>
    <td>&nbsp;<img src="{{ data.photo }}" height="100px" width="100px"></td>
  </tr>
  <tr>
    <td>Age</td>
     <td> {{ data.age }}
    </td>
  </tr>
  <tr>
    <td>Gender</td>
    <td>{{ data.gender }}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><a href="/myapp/user_edit_profile/" class="btn btn-success">edit</a> </td>
  </tr>
</table>

</form>
{% endblock %}